/* general */
@media (min-width: 500px) {
    #App {
        width: 400px;
    }
}

#App {
    margin: 0 auto;
    font-family: "Gothic A1", sans-serif;
    font-weight: 400;
}

h2 {
    font-size: 28px;
    font-weight: 800;
}

h3 {
    font-weight: 400;
    font-size: 22px;
    text-transform: uppercase;
}

h4 {
    font-size: 16px;
    font-weight: 700;
}

.center {
    text-align: center;
}

.right {
    text-align: right;
}

.italic {
    font-style: italic;
}

.btn {
    height: 20px;
}

ul {
    padding-inline-start: 0;
}

li {
    list-style-type: none;
}

.padding {
    padding: 0 20px;
}

button.button {
    margin: 20px 0;
    width: 180px;
    height: 40px;
    border-radius: 20px;
}

a.no-link-style {
    color: black;
    text-decoration: none;
}

span.skill-icon {
    font-weight: bold;
    color: rgb(110, 110, 110);
    margin-right: 8px;
}

span.skill-icon img {
    width: 16px;
    margin-right: 2px;
    position: relative;
    top: 3px;
}

img.skill-icon {
    width: 22px;
    margin-right: 2px;
    position: relative;
    top: 3px;
}

#back-button {
    margin: 10px 0;
}
#back-button svg.MuiSvgIcon-root {
    color: rgb(62, 62, 62);
    width: 28px;
    height: 28px;
}

.styled-list li {
    list-style-type: disc;
    margin-left: 18px;
}

.hover {
    cursor: pointer;
}

#sticky-footer {
    position: -webkit-sticky;
    position: sticky;
    bottom: 0;
}

#sticky-footer .add-student-btn {
    margin-right: 20px;
    color: rgb(99, 94, 94);
    background: white;
}

#sticky-footer .add-student-btn.deselected {
    color: rgb(187, 187, 187);
}

/* house colors */
.BlackEagles-bg {
    background: rgb(206, 54, 87) !important;
}
.BlueLions-bg {
    background: rgb(77, 95, 169) !important;
}
.GoldenDeer-bg {
    background: rgb(223, 192, 74) !important;
}
.Faculty-bg {
    background: rgb(176, 225, 176) !important;
}

.BlackEagles-color {
    background: rgb(206, 54, 87);
}
.BlueLions-color {
    background: rgb(77, 95, 169);
}
.GoldenDeer-color {
    background: rgb(223, 192, 74);
}
.Faculty-color {
    background: rgb(176, 225, 176);
}

/* auth pages */
div.auth-input {
    margin: 10px 0;
}

/* new playthrough */
.new-playthrough-choice {
    opacity: 0.5;
}

.new-playthrough-choice-selected {
    opacity: 1;
}

img.banner-choice {
    width: 100%;
    border-radius: 25px 25px 0 0;
}

img.byleth-choice {
    width: 100%;
    background: rgb(209, 209, 209);
    border-radius: 25px;
}

button.BlackEagles {
    background: rgb(206, 54, 87);
}
button.BlueLions {
    background: rgb(77, 95, 169);
}
button.GoldenDeer {
    background: rgb(223, 192, 74);
}
button.Faculty {
    background: rgb(176, 225, 176);
}

/* roster */
.roster-row {
    padding: 10px;
    border-top: 1px solid black;
    font-size: 13px;
}

.roster-row:hover {
    cursor: pointer;
    background: rgb(241, 241, 241);
}

.roster-img {
    height: 64px;
    width: 64px;
    border-radius: 15%;
    background: rgb(216, 216, 216);
}

.roster-row .ready-for-cert {
    font-size: 19px;
    top: 4px;
    position: relative;
}

.roster-row .right-arrow {
    font-size: 22px;
    right: 12px;
    top: 20px;
    position: relative;
}

.roster-img.BlackEagles {
    background: rgb(206, 54, 87);
}
.roster-img.BlueLions {
    background: rgb(77, 95, 169);
}
.roster-img.GoldenDeer {
    background: rgb(223, 192, 74);
}
.roster-img.Faculty {
    background: rgb(176, 225, 176);
}

.roster-row-student p {
    margin: 0 0 0 -10px;
}

p.roster-name {
    margin-bottom: 4px;
    font-size: 13px;
    font-weight: 800;
}

.roster-desc {
    font-size: 14px;
}

/* student overview */
#student-overview h4 {
    margin: 6px 0 10px 0;
}

#student-overview span {
    font-size: 14px;
}

#student-overview .MuiSvgIcon-root {
    font-size: 20px;
}

.goal-row {
    padding: 4px 20px;
}

.skill-filters {
    margin-bottom: 10px;
}

img.skill-filter {
    width: 28px;
    opacity: 0.6;
}

img.skill-filter:hover {
    cursor: pointer;
    opacity: 1;
}

img.skill-filter.filter-selected {
    opacity: 1;
}

/* set class / select class */
li.set-class {
    font-size: 12px;
    padding: 12px;
    border-bottom: 1px solid black;
}

.set-class:hover {
    cursor: pointer;
    background: rgb(226, 226, 226) !important;
}

li.set-class.unset {
    background: rgb(238, 238, 238);
}

li.set-class.certified {
    background: rgb(255, 255, 255);
    font-style: italic;
    color: rgb(120, 120, 120);
}

li.set-class.certified:hover {
    background: rgb(255, 255, 255) !important;
    cursor: auto;
}

div.MuiExpansionPanelDetails-root {
    padding: 0;
}

.set-class span.class-name {
    font-weight: bold;
}

span.class-percentage {
    float: right;
    font-style: italic;
    font-size: 10px;
}

/* add student */
.add-student-selected .roster-img {
    background: rgb(216, 216, 216);
}
.add-student-selected.BlackEagles {
    background: rgb(206, 54, 87);
}
.add-student-selected.BlueLions {
    background: rgb(77, 95, 169);
}
.add-student-selected.GoldenDeer {
    background: rgb(223, 192, 74);
}
.add-student-selected.Faculty {
    background: rgb(176, 225, 176);
}

.remove-filters-btn {
    color: rgb(74, 74, 74);
    position: relative;
    left: 16px;
    top: -2px;
}

/* info page */
.info-link {
    border: 1px solid rgb(123, 123, 123);
    height: 100px;
    text-align: center;
}

.info-link:hover {
    cursor: pointer;
    background: rgb(240, 240, 240);
}

.info-link h4 {
    position: relative;
    top: 16px;
}
